*.pth
*.jpg
*.png
*.pyc
__pycache__
.idea
!readmeDisplay/1.png
/checkpoint/pretrain_alexnet/
/_test_images_/
/age/
/age_gender/
/ipcgan_clone.zip
/preprocess.7z
/demo.py
/preprocess/posts/
/preprocess/keys/
/preprocess/age-gender-estimation-master.zip
/preprocess/pretrained_models/
/preprocess/age_log.txt
/preprocess/error_image.txt
/preprocess/real_log.txt
/keys/
/profiles/
/posts/
/download/
/dataset/
/compare/
/children/
/_files/
/한국인/
/tkndata/
/한국인.zip
/test.jpg
/target1.png
/target.png
/source1.jpg
/source.jpg
/.idea/